<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Them san pham</title>
</head>
<body>
<h1>Them san pham moi</h1>
<form action="/luu-san-pham" method="post">
    <input type="text" name="TenSP" placeholder="Ten SP"/><br/>
    <input type="text" name="Mota" placeholder="Mo ta"/><br/>
    <input type="text" name="DonVi" placeholder="Don vi"/><br/>
    <input type="number" name="Gia" placeholder="Gia"/><br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>