<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Them khach hang</title>
</head>
<body>
    <h1>Them khach hang moi</h1>
    <form action="/luu-khach-hang" method="post">
        <input type="text" name="TenKH" placeholder="Ten KH"/><br/>
        <input type="text" name="DienThoai" placeholder="Dien Thoai"/><br/>
        <input type="text" name="DiaChi" placeholder="Dia Chi"/><br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>